// Specific CSS for your home-page
h1 {
  font-size: 60px;
  color: white;
  font-weight: bold;
}

html,
body,
.maincontainer {
  height: 100%;
}

.maincontainer {
  display: flex;
  flex-direction: column;
}

.mainnavbar {
  height: 65px;
  background-color: white;
}

.maincontent {
  flex-grow: 1;
  width: 100%;
}

.mainfooter {
  height: 50px;
  background-color: white;
}

.card_cocktail {
  padding: 20px;
  justify-content: space-around;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 150px;
  background-color: #F3F3F3;
  box-shadow: 2px 2px 2px gray;
}

.logo {
  background-image: asset-url('new_cocktail.png');
  background-size: cover;
  height: 500px;
  width: 400px;

}

.card_cocktail a {
  text-decoration: none;
  color: #7EA1B6;
  &:hover {
    color: yellow;
  }
}

.cocktails {
  position: relative;
  display: inline-block;
  top: 300px;
}

.cocktail {
  display: inline-block;
  text-decoration: none;
}


.top_left {
  top: 100px;
  left: 100px;
  position: absolute;
}

