// Specific CSS for your home-page
h1 {
  font-size: 60px;
  color: blue;
  font-weight: lighter;
}

.card_cocktail {
  padding: 20px;
  justify-content: space-around;
  margin-left: 20px;
  width: 250px;
  height: 125px;
  background-image: #F3F3F3;
  box-shadow: 2px 2px 2px gray;

}

.cocktail {
  display: inline-block;
  text-decoration: none;
}

.container {
  background-color: black;
  background-size: cover;
}

