.top_right {
  top: 100px;
  right: 200px;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  border: 2px solid transparent;

}

.top_right a {
  color: #7EA1B6;
  text-decoration: none,
}

.logo {
  background-image: asset-url('new_cocktail.png');
  background-size: cover;
  height: 200px;
}

.form {
  position: relative;
  top: 300px;
  left: 50px;
  color: gray;
  font-weight: bold;
  font-size: 25px;
}

.top_left {
  top: 70px;
  left: 50px;
  position: absolute;
}
